<h2>Viewing All Tasks</h2>
<hr>
<br>

<% @tasks.each do |t| %>
    <section class="event">
        <div class="summary">
            <h4>
                <%= link_to t.address, task_path(t) %>
            </h4>
        </div>
    </section>
<% end %>